<% @products.each do |product|%>
  <div class="col-sm-6 col-md-4">
      <div class="thumbnail" style="height: 550px;">
        <img src="<%=product.photo%>" size="192x200" alt="No Content">
        <div class="caption">
          <h3><%=product.name%></h3>
          <p><%=product.description%></p>
          <h4><%=number_to_currency(product.price)%></h4>
          <p><%=button_to 'Add', line_items_path, method: :post , class: "catalog_button btn  btn-warning btn-lg" , params: { product_id: product, remote: true } %></p>
        </div>
      </div>
  </div>
<%end%>
<%= will_paginate @products, renderer: BootstrapPagination::Rails %>