
<%= form_for order, url: {action: "create"}, remote: true do |f|%>
    <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>


  <div class="field">
    <%= f.label :address %>
    New Address:
    <%= f.text_field :address, :class => "user-defined" %><br>
    <% if current_user.orders.count > 0%>
      Previous Address: <%= f.radio_button :address, current_user.orders.first.address %>
      <%= current_user.orders.first.address %>
    <%end%>
  </div>

  <div class="field">
    <%= f.label :pincode %>
    <%= f.text_field :pincode %>
  </div>

  <div class="field">
    <%= f.label :mobile %>
    <%= f.text_field :mobile %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
