  
<%= form_for order, url: {action: "create"}, remote: true do |f|%>
    <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

      <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </p>


  <p>
      <%= f.label :address %><br>
    New Address:
    <%= f.text_field :address, :class => "user-defined" %><br>
    <% if current_user.orders.count > 0%>
      Previous Address: <%= f.radio_button :address, current_user.orders.first.address %>
      <%= current_user.orders.first.address %>
    <%end%>
  </p>

  <p>
    <%= f.label :pincode %><br>
    <%= f.number_field :pincode %>
  </p>


   <p>
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>